##---------------------------------------------------
## Template for MATLAB gitignore files
##---------------------------------------------------

*~

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# MATLAB binaries
*.fig
*.mlx
*.mat
*.mdl
*.slx
*.mlapp

# Graphics
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.tif       binary
*.tiff      binary
*.ico       binary
*.eps       binary
*.emf       binary
*.pptx      binary
